
<div class="breadcrumb">
    <div>All subscribers</div>
    <p-breadcrumb [model]="itemsBreadrumb"></p-breadcrumb>
</div>
<div class="ui-lg-10 ui-lg-offset-1" style="padding-top: 30px;" *ngIf="subscribers">
    <!-- <p-dataView #dv [value]="subscribers" [paginator]="false" [rows]="10" paginatorPosition="both" filterBy="email" [sortField]="sortField" [sortOrder]="sortOrder">
        <p-header>
            <div class="ui-helper-clearfix">
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-4">
                        <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By" (onChange)="onSortChange($event)" [autoWidth]="true" [style]="{'min-width':'15em'}"></p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-4 filter-container">
                        <div style="position:relative">
                            <input type="search" pInputText placeholder="Search by email" (keyup)="dv.filter($event.target.value)">
                        </div>
                    </div>
                    <div class="ui-g-6 ui-md-4" style="text-align:right">
                        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                    </div>
                </div>
            </div>
        </p-header>
        <ng-template let-subscriber pTemplate="listItem">
            <div class="ui-g" style="border-bottom: 1px solid #d9d9d9">
                <div class="ui-g-12 ui-md-2" style="text-align:center">
                    <img class="img img-responsive" style="height: 100px;" src="http://pngimages.net/sites/default/files/user-png-image-15189.png">
                </div>
                <div class="ui-g-12 ui-md-8 subscriber-details">
                    <div class="ui-g">
                        <div class="ui-g-2 ui-sm-6">Name: </div>
                        <div class="ui-g-10 ui-sm-6"><b>{{subscriber.fullName}}</b></div>

                        <div class="ui-g-2 ui-sm-6">Email: </div>
                        <div class="ui-g-10 ui-sm-6"><b>{{subscriber.email}}</b></div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-1 search-icon">
                    <button pButton type="button" icon="pi pi-search" (click)="selectSubscriber($event, subscriber)"></button>
                </div>
            </div>
        </ng-template>
        <ng-template let-subscriber pTemplate="gridItem">
            <div style="padding:.5em" class="ui-g-12 ui-md-3">
                <p-panel [header]="subscriber.vin" [style]="{'text-align':'center'}">
                    <img src="http://pngimages.net/sites/default/files/user-png-image-15189.png" width="60">
                    <div class="subscriber-detail">{{subscriber.fullName}} - {{subscriber.email}}</div>
                    <hr class="ui-widget-content" style="border-top:0">
                    <button pButton type="button" icon="pi pi-search" (click)="selectSubscriber($event, subscriber)" style="margin-top:0"></button>
                </p-panel>
            </div>
        </ng-template>
    </p-dataView>
    <p-paginator class="panigation" [rows]="pageSize" [totalRecords]="totalCount" (onPageChange)="paginateSubs($event)"></p-paginator>
    <p-dialog header="subscriber Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" width="425" (onAfterHide)="onDialogHide()">
        <div class="ui-g" *ngIf="selectedSubscriber">
            <div class="ui-g-12" style="text-align:center">
                <img src="http://pngimages.net/sites/default/files/user-png-image-15189.png">
            </div>
            <div class="ui-g-4">ID: </div>
            <div class="ui-g-8">{{selectedSubscriber.id}}</div>    

            <div class="ui-g-4">Name: </div>
            <div class="ui-g-8">{{selectedSubscriber.fullName}}</div>

            <div class="ui-g-4">Email: </div>
            <div class="ui-g-8">{{selectedSubscriber.email}}</div>

            <div class="ui-g-4">Campaign: </div>
            <div class="ui-g-8">{{selectedSubscriber.campaignName}}</div>

            <div class="ui-g-4">Coupon: </div>
            <div class="ui-g-8">{{selectedSubscriber.discountCode}}</div>

            <div class="ui-g-4">Created time: </div>
            <div class="ui-g-8">{{selectedSubscriber.createdAt}}</div>                
        </div>
    </p-dialog> -->

    
    <mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="true" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <!-- Subscrbers data -->
                    <strong><h4>Find your subscribers</h4></strong>
                </mat-panel-title>
                <mat-panel-description>
                    <strong> </strong>
                    <mat-icon>group_add</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            
            <!-- <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)"> -->
            <div class="ui-g">
                <div class="ui-g-3">
                    <mat-form-field>
                        <input matInput placeholder="Full name" [formControl] = "searchForm.controls['name']">
                    </mat-form-field>
                </div>
                <div class="ui-g-3">
                    <mat-form-field>
                        <input matInput type="email" placeholder="Email" [formControl] = "searchForm.controls['email']">
                    </mat-form-field>
                </div>
                <div class="ui-g-3">
                    <mat-form-field>
                        <mat-select placeholder="Campaigns" multiple [formControl] = "searchForm.controls['campaignId']"> 
                            <mat-option *ngFor="let campaign of campaigns" [value]="campaign.id">{{campaign.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="ui-g-3" style="text-align: right;">
                    <button class="btn btn-success" (click)="searchSubscribers(searchForm.value)">SEARCH</button>
                </div>
            </div>
            <!-- </form> -->
            <mat-action-row>
            
            </mat-action-row>
        </mat-expansion-panel>        
    </mat-accordion>
    <div style="margin-top: 25px;"></div>     

    <p-table #dt [columns]="cols" [value]="subscribers" [tableStyle]="{'table-layout':'auto', 'box-shadow': '1px 2px 3px -1px rgb(0,0,0,0.3)'}" *ngIf="campaignNames">
        <ng-template pTemplate="caption">
            <div style="text-align: right">        
                <i class="fa fa-search" style="margin:4px 10px 0 0; font-size: 19px;"></i>
                <input type="text" pInputText size="30" placeholder="Search in all fields" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>
                    #
                </th>
                <th *ngFor="let col of columns"  [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>
                <th  [pSortableColumn]>
                    Created At
                </th>
            </tr>
            <!-- <tr>
                <th></th>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <input *ngSwitchCase="'fullName'" style="width: 100%;" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                    <input *ngSwitchCase="'email'" style="width: 100%;" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                    <p-multiSelect *ngSwitchCase="'campaignName'" [style]="{'width':'100%'}" [options]="campaignNames" defaultLabel="All Campaigns" (onChange)="dt.filter($event.value, col.field, 'in')"></p-multiSelect>
                    <input *ngSwitchCase="'discountCode'" style="width: 100%;" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                    <div *ngSwitchCase="'createdAt'">
                        Year > {{createdAtFilter}} 
                        <i class="fa fa-close" (click)="createdAtFilter=null;dt.filter(null, col.field, col.filterMatchMode)" style="cursor:pointer" *ngIf="createdAtFilter" style="float: right;"></i>
                        <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="createdAtFilter" [min]="2000" [max]="2050" (onChange)="onCreatedAtChange($event, dt)"></p-slider>
                    </div>
                </th>
            </tr> -->
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
            <tr [pSelectableRow]="rowData">
                <td>
                    {{i+1}}
                </td>
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
                <td>
                    {{rowData['createdAt'] | date: "dd-MM-yyyy"}}
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator class="panigation" [rows]="pageSize" [totalRecords]="totalCount" (onPageChange)="paginateSubs($event)"></p-paginator>
</div>

<div class="ui-lg-8 ui-lg-offset-2" style="padding-top: 30px; min-height: 700px;" *ngIf="!subscribers">
    <div class="middle-box text-center loginscreen" style="padding: 155px; min-height: 820px;">
        <div class="alert alert-info" role="alert">You don't have any subscribers.
        </div>
    </div>
</div>
    