:host >>> .ui-table .ui-table-thead > tr > th {
    padding: 0.571em 0.857em;
    border: 1px solid #c8c8c8;
    font-weight: 700;
    color: #333333;
    background-color: #fff;
}

:host >>> .ui-paginator {
    margin-top: 10px;
    background-color: #f9f9fb;
    border: 0px solid #c8c8c8;
    padding: 0;
}

:host >>> .ui-table .ui-table-caption, body .ui-table .ui-table-summary {
    background-color: #007ad9;
    color: #fff;
    border: 0px solid #c8c8c8;
    padding: 0.571em 1em;
    text-align: center;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
