<div class="container">
  <div class="row">
    <div class="col-sm-4 col-xs-12">   
      <p-card title="Advanced Card" subtitle="Subtitle" [style]="{width: '360px'}" styleClass="ui-card-shadow">
          <p-header>
              <img src="Card" src="https://www.primefaces.org/primeng/assets/showcase/images/usercard.png">
          </p-header>
          <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
              quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
          <p-footer>
              <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
              <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button>
          </p-footer>
      </p-card>
    </div>
    <div class="col-sm-8 col-xs-12">      
        <h3 style="text-align: center;">Campaign list</h3>
        <p-table [columns]="cols" [value]="cars">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-car let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                            {{car[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
  </div>
</div>