<div class="breadcrumb">
    <div>All campaigns</div>
    <p-breadcrumb [model]="itemsBreadrumb"></p-breadcrumb>
</div>
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="ui-g">
    <div class="ui-lg-4 ui-lg-offset-1 ui-md-5 ui-sm-12">   
        <form [formGroup]="campaignForm" (ngSubmit)="createCampaign(campaignForm.value)">
            <p-panel header="Quick Campaign" [style]= "{'font-style': 'bold'}">
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">
                            Name *:
                        </div>
                        <div class="ui-grid-col-8">
                            <input pInputText type="text" formControlName="name" placeholder="Black Friday"/>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <p-message severity="error" text="Name is required" *ngIf="!campaignForm.controls['name'].valid&&campaignForm.controls['name'].dirty"></p-message>
                        </div>
                    </div>
        
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">
                            Description:
                        </div>
                        <div class="ui-grid-col-8">
                            <textarea pInputTextarea type="text" formControlName="description" rows=5></textarea>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">
                            Start time:
                        </div>
                        <div class="ui-grid-col-8">
                            <p-calendar tooltipPosition="top" pTooltip="Default is current time" formControlName="startedAt" dateFormat="dd-mm-yy" showTime="true" hourFormat="12"></p-calendar>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">
                            End Time:
                        </div>
                        <div class="ui-grid-col-8">
                            <p-calendar formControlName="completedAt" dateFormat="dd-mm-yy" showTime="true" hourFormat="12"></p-calendar>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4"></div>
                        <div class="ui-grid-col-8">
                            <button pButton type="submit" label="Create campaign" [disabled]="!campaignForm.valid"></button>
                        </div>
                    </div>
                </div>
            </p-panel>
        </form>
    </div>
    <div class="ui-lg-6 ui-md-7 ui-sm-12" *ngIf="campaigns">
       <div class="row" style="min-height: 700px;"> 
            <div class="blog-card" *ngFor="let campaign of campaigns" style="min-height: 120px;">
                <div class="meta">
                    <div class="photo" style="background-image: url(assets/images/campaign_background.JPG)"></div>
                    <ul class="details">
                        <li *ngIf="campaign.startedAt" class="date">Start: {{campaign.startedAt | date: "dd-MM-yyyy"}}</li>
                        <li *ngIf="!campaign.startedAt" class="date">Start by click <b>active</b> button</li>
                        <li *ngIf="campaign.completedAt" class="date">End: {{campaign.completedAt | date: "dd-MM-yyyy"}}</li>
                        <li *ngIf="!campaign.completedAt" class="date">Stop by click <b>stop</b> button</li>
                    </ul>
                </div>
                <div class="description">
                <h1>{{campaign?.name | uppercase}}</h1>
                    <p *ngIf="campaign.description">
                        <!-- {{campaign.description}} -->
                        {{ (campaign.description.length>50)? (campaign.description | slice:0:50)+'...':(campaign.description) }}
                    </p>
                    <ul class="list-inline">
                        <li><a href="/#/campaign/{{campaign.id}}/edit"><span class="glyphicon glyphicon-pencil"> Edit</span></a></li> | 
                        <li><a (click)="removeCampaign(campaign.id)" style="color: darkgoldenrod; cursor: pointer;"><span class="glyphicon glyphicon-trash"> Remove</span></a></li> | 
                        <li *ngIf="campaign.active"><a (click)="stopCampaign(campaign.id)" style="color: red; cursor: pointer;"><span class="glyphicon glyphicon-stop"> Stop</span></a></li>
                        <li *ngIf="!campaign.active"><a (click)="activeCampaign(campaign.id)" style="color: rgb(238, 222, 6); cursor: pointer;"><span class="glyphicon glyphicon-play-circle"> Active</span></a></li>
                    </ul>
                    <p class="read-more">
                        <a href="/#/campaign/{{campaign.id}}"><strong>More Details</strong></a>
                    </p>
                </div>
            </div>
       </div>
       <p-paginator class="panigation" [rows]="pageSize" [totalRecords]="totalCount" (onPageChange)="paginate($event)"></p-paginator>
    </div>
    <div class="ui-lg-6 ui-md-12 ui-sm-12" *ngIf="!campaigns">
        <div class="row" style="min-height: 700px;"> 
            <div class="middle-box text-center loginscreen" style="padding: 155px;">
                <div class="alert alert-info" role="alert">You have not campaign!
                </div>
            </div>
        </div>
    </div>
</div>