<div class="wrapper">
    <p-confirmDialog header="Logout" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>
    <p-menubar [model]="itemsMenu" [autoDisplay]="false">
        <!-- <a *ngIf="!userStatus" href="/#/login" style="cursor: pointer;"> Login</a> -->
        <div style=" padding: 19px; color: white;">
            <a *ngIf="userStatus" (click)="logout()" style="cursor: pointer; padding: 19px; color: white; text-decoration: none; font-family: 'Open Sans', 'Helvetica Neue', 'sans-serif';"><i class="fa fa-sign-out"> </i> Logout</a>
        </div>
    </p-menubar>

    <router-outlet></router-outlet>
</div>
<div class="footer">
    <ul class="list-unstyled list-inline social">
        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
        <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
    </ul>
    <div class="">
        <p class="h5"><strong>&copy; All right reversed. <a class="text-green ml-2" href="https://www.foxpify.com" target="_blank">Foxpify</a></strong></p>
    </div>
</div>