:host >>> .ui-menubar {
    /* padding: 10px 10px !important; */
    background-color: #ffffff;
    border: 1px solid #c8c8c8 !important;
}

:host >>> .ui-breadcrumb {
    background-color: #f4f6f8;
    border: 0px solid #c8c8c8;
    padding: 0.571em 1em;
}

ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}

:host >>> .ui-menubar .ui-menubar-root-list > .ui-menuitem > .ui-menuitem-link {
    padding: 1.5em 0.857em;
}

:host >>> .ui-menubar .ui-menubar-root-list > .ui-menuitem > .ui-menuitem-link:hover {
    background-color: #007ad9;
    color: #fff;
}

:host >>> .ui-menubar .ui-menubar-root-list > .ui-menuitem > .ui-menuitem-link:hover > span {
    /* background-color: #007ad9; */
    color: #fff;
}

:host >>> .wrapper { 
    margin-bottom: -30px;
    min-height: 100vh;
 }

 :host >>> .wrapper:after {
    content: "";
    display: block;
  }

 :host >>> .footer {
    bottom: 0;
    right: 0; 
    left: 0; 
    text-align: center; 
    height: 30px;
}

.footer, .wrapper:after {
      height: 30px; 
  }
