<p-breadcrumb [model]="itemsBreadrumb"></p-breadcrumb>
<div class="container" style="margin-top: 30px; min-height: 800px;">
    <div class="row">
        <div class="col-md-12">
            <!-- Nav tabs -->
            <div class="card">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab"><strong>General</strong></a></li>
                    <li role="presentation"><a href="#slices" aria-controls="slices" role="tab" data-toggle="tab"><strong>Slices</strong></a></li>
                    <li class="text-right" style="float: right"><a (click)="updateCampaign()"><Button class="btn btn-success">Save</Button></a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="general">
                        <form [formGroup]="campaignForm" (ngSubmit)="onSubmit(campaignForm.value)">
                            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-3">
                                        Name *:
                                    </div>
                                    <div class="ui-grid-col-8">
                                        <input pInputText type="text" formControlName="name" placeholder="Required"/>
                                    </div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <p-message severity="error" text="Name is required" *ngIf="!campaignForm.controls['name'].valid&&campaignForm.controls['name'].dirty"></p-message>
                                    </div>
                                </div>
                    
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-3">
                                        Description:
                                    </div>
                                    <div class="ui-grid-col-8">
                                        <textarea pInputTextarea type="text" formControlName="description" rows=5></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="slices">
                        <p-table [value]="slices">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th [style]="{'width':'30px'}">#</th>
                                    <th>Type</th>
                                    <th>Label</th>
                                    <th>Win text</th>
                                    <th>Coupon</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-i="rowIndex">
                                <tr>
                                    <td [style]="{'width':'30px'}">
                                        {{i + 1}}
                                    </td>
                                    <td pEditableColumn>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input type="text" [(ngModel)]="rowData.vin">
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{rowData.vin}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td pEditableColumn>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input type="text" [(ngModel)]="rowData.year" required>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{rowData.year}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td pEditableColumn>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input type="text" [(ngModel)]="rowData.brand">
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{rowData.brand}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td pEditableColumn>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input type="text" [(ngModel)]="rowData.color">
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{rowData.color}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>