<div class="breadcrumb">
    <div>{{campaignName}}</div>
    <p-breadcrumb [model]="itemsBreadrumb"></p-breadcrumb>
</div>
<div class="container" style="margin-top: 30px; min-height: 700px;">
    <div class="row">
        <div class="col-md-12">
            <!-- Nav tabs -->
            <div class="card">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab"><strong>General</strong></a></li>
                    <li role="presentation"><a href="#slices" aria-controls="slices" role="tab" data-toggle="tab"><strong>Slices</strong></a></li>
                    <li class="text-right" style="float: right"><a (click)="updateCampaign()"><button pButton type="button" icon="fa fa-save" label="Save" class="ui-button-success"></button></a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="general">
                        <form [formGroup]="campaignForm" (ngSubmit)="onSubmit(campaignForm.value)">
                            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 10px">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-3">
                                        <strong>Name *:</strong>
                                    </div>
                                    <div class="ui-grid-col-8">
                                        <input pInputText type="text" formControlName="name" placeholder="Black Friday"/>
                                    </div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <p-message severity="error" text="Name is required" *ngIf="!campaignForm.controls['name'].valid&&campaignForm.controls['name'].dirty"></p-message>
                                    </div>
                                </div>
                    
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-3">
                                        <strong>Description:</strong>
                                    </div>
                                    <div class="ui-grid-col-8">
                                        <textarea pInputTextarea type="text" formControlName="description" rows=9></textarea>
                                    </div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-3">
                                        <strong>Start time:</strong>
                                    </div>
                                    <div class="ui-grid-col-8">
                                        <p-calendar formControlName="startedAt" dateFormat="dd-mm-yy"></p-calendar>
                                    </div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-3">
                                        <strong>End Time:</strong>
                                    </div>
                                    <div class="ui-grid-col-8">
                                        <p-calendar formControlName="completedAt" dateFormat="dd-mm-yy"></p-calendar>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" style="padding: 0px;" id="slices">
                        <!-- <p-table [value]="slices" [columns]="colsSlice">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th [style]="{'width':'30px'}">#</th>
                                    <th *ngFor="let col of columns">
                                        {{col.header}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-columns="columns" let-rowData let-i="rowIndex">
                                <tr>
                                    <td [style]="{'width':'30px'}">
                                        {{i + 1}}
                                    </td>
                                    <td pEditableColumn *ngFor="let col of columns">
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input type="text" [(ngModel)]="rowData[col.field]">
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{rowData[col.field]}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table> -->

                        <p-table [columns]="colsSlice" [value]="slices" selectionMode="single" [(selection)]="selectedSlice" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10" [tableStyle]="{'table-layout':'auto'}">
                            <!-- <ng-template pTemplate="caption">
                                List of slices
                            </ng-template> -->
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                        {{col.header}}
                                        <p-sortIcon [field]="col.field"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                                <tr [pSelectableRow]="rowData">
                                    <td>
                                        {{i + 1}}
                                    </td>
                                    <td *ngFor="let col of columns">
                                        {{rowData[col.field]}}
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="summary" let-rowData>
                                <div style="text-align:left">
                                    <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button>
                                </div>
                            </ng-template>    
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Slice Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="500">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="slice" [style]="{'margin-bottom': '10px'}">
        <!-- <div class="ui-grid-row" *ngFor="let col of colsSlice" style="margin-bottom: 10px;">
            <div class="ui-grid-col-4"><label for="col.field">{{col.header}}</label></div>
            <div class="ui-grid-col-8"><input pInputText id="{{col.field}}" [(ngModel)]="slice[col.field]"/></div>
        </div> -->
        <div class="ui-grid-row" style="margin-bottom: 10px;">
            <div class="ui-grid-col-4"><label for="label">Label</label></div>
            <div class="ui-grid-col-8"><input pInputText id="label" [(ngModel)]="slice['label']"/></div>
        </div>
        <div class="ui-grid-row" style="margin-bottom: 10px;">
            <div class="ui-grid-col-4"><label for="discountCode">Coupon</label></div>
            <div class="ui-grid-col-8"><input pInputText id="discountCode" [(ngModel)]="slice['discountCode']"/></div>
        </div>
        <div class="ui-grid-row" style="margin-bottom: 10px;">
            <div class="ui-grid-col-4"><label for="autogen"></label></div>
            <div class="ui-grid-col-8">
                <p-checkbox [(ngModel)]="slice['auto']" binary="true"></p-checkbox>
                Created new like this COUPON
            </div>
        </div>
        <div class="ui-grid-row" style="margin-bottom: 10px;">
            <div class="ui-grid-col-4"><label for="probability">Probability</label></div>
            <div class="ui-grid-col-8"><input pInputText id="probability" [(ngModel)]="slice['probability']"/></div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa fa-close" class="ui-button-danger" (click)="delete()" label="Delete"></button>
            <button type="button" pButton icon="fa fa-check" class="ui-button-success" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>