/* You can add global styles to this file, and also import other style files */
:host >>> body {
    background-color: #f4f6f8 !important;
    font-family: HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-weight: 400;
}

.breadcrumb {
    background-color: #f4f6f8;
}

.breadcrumb > div {
    padding: 10px 15px; 
    font-size: 25px;
}